body {
  background-color: #191919;
  text-align: center;
}
h1 {
  color: #e7e7e7;
}
p {
  color: #e7e7e7;
}
.title{
	font-family: 'Abril Fatface', cursive;
}
.collapsible {
  background-color: #ececec;
  cursor: pointer;
  padding: 5px;
  border: none;

  width: 20%;
  outline: none;
  font-size: 10px;
}
.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.content {
  max-height: 0;
  width: 20%;
  margin-left: 40%;
  transition: max-height 0.2s ease-out;
  background-color: #efefef;
  overflow: auto;
}
.chart {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  padding: 0%;
  transition: max-height 0.2s ease-out;
  background-color: #1e1e1e;
}
